{% load static i18n %}
<li class="nav-header">
    <div class="dropdown profile-element"> <span>
{#                            <img alt="image" class="img-circle" src="{% static 'img/profile_small.jpg' %}" />#}
                            <img alt="image" class="img-circle" width="64" height="64" src="{{ user.avatar_url }}"/>
                             </span>
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                                <span class="block m-t-xs"> <strong class="font-bold">{{ user.username }}</strong>
                                    {% if user.role == "Admin" %}
                                        </span> <span class="text-muted text-xs block">管理员 <b class="caret"></b></span> </span> </a>
                                    {% else %}
                                        </span> <span class="text-muted text-xs block">普通用户 <b class="caret"></b></span> </span> </a>
                                    {% endif %}
        <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a href="#">个人信息</a></li>
            <li><a href="{% url 'password_change' %}">修改密码</a></li>
        </ul>
    </div>
    <div class="logo-element">
        TOC
    </div>
</li>